#Timer{
    display: flex;
    flex-direction: row;
    font-size:50px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#Rank{
    margin-right: 30px;
}
#Time{
    position: relative;
    right: 20px;
    text-align: left;
}
